$text-color: #212529;
$primary-color: #b540de;
$red: #A30015;
$light-black: #47474e;
$gray: #cacaca;
$dark-gray: #bebebe;
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Avenir-Book", Helvetica, Arial, serif;
    font-size: 20px;
    color: $text-color;
}
h1, h2, h3 {
    color: $light-black;
}
h1 {
    font-size: 72px !important;
    line-height: 80px;
    margin-bottom: 15px;
    @media(max-width: 768px) {
        font-size: 32px !important;
        line-height: 34px;
        margin-bottom: 5px;
    }
}
h2 {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 15px;
    @media(max-width: 768px) {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 5px;
    }
}
h3 {
    font-size: 36px;
    line-height: 40px;
    margin: 15px 0;
}
h5 {
    font-size: 38px;
    text-decoration: underline;
    color: #000;
    margin-bottom: 10px;
}
.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .content {
        flex: 1;
    }
}
header {
    margin-bottom: 15px;
}
.header-nav {
    .logo {
        @media(max-width: 576px) {
            width: 150px;
        }
    }
    .navbar-nav a.nav-link, a {
        color: $text-color;
    }
    @media(max-width: 768px) {
        .navbar-nav {
            text-align: center;
        }
    }
}
footer {
    background-color: $primary-color;
    padding: 20px 0;
    p {
        margin-bottom: 5px;
    }
    @media(max-width: 768px) {
        .links {
            margin-top: 20px;
        }
    }
}
.block-form {
    input, textarea, button {
        margin: 10px 0;
        display: block;
    }
    input, textarea {
        width: 100%;
    }
    button {
        margin: 0px auto;
    }
}
input, textarea {
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px !important;
    &.error {
        border: 1px solid $red;
    }
}
.btn {
    &.btn-white {
        background-color: #fff;
    }
    &.btn-purple {
        background-color: $primary-color;
        color: #fff;
    }
    &.squared {
        border-radius: 0;
    }
}
.underline {
    text-decoration: underline;
}

.layout > .content {
    p {
        font-size: 24px;
        color: #000;
        @media(max-width: 576px) {
            font-size: 18px;
        }
    }
}
.form-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $primary-color;
    margin: 15px 0;
    > span  {
        position: relative;
        display: inline-block;
        height: 30px;
        &:after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 1px;
            border-width: 0 0 2px;
            border-style: solid;
        }
    }
}
.form-default {
    text-align: left;
    input, textarea {
        display: block;
        border-bottom: 1px solid $dark-gray;
    }
    input {
        height: calc(1.5em + .75rem + 2px);
        width: 100%;
        padding: .375rem .75rem;
        line-height: 1.5;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    label {
        font-size: 16px;
        color: $dark-gray;
        letter-spacing: 0.7px;
    }
    .field-error {
        font-size: 14px;
        color: $red;
    }
}