#pricing-table {
    display: flex;
    align-items: center;
    margin: 10px 0;
    @media(max-width: 768px) {
        display: block;
    }
}
.price {
    height: 550px;
    text-align: center;
    width: 400px;
    padding: 10px;
    @media(max-width: 768px) {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25) !important;
        margin: 15px auto;
        height: auto !important;
    }
    @media(max-width: 992px) {
        height: 600px;
        max-width: 100%;
    }
}
.price:nth-child(1) {
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.25);
}
.price:nth-child(2) {
    height: 700px;
    background-color: #f7f0fa;
    .pricing-header {
        border-bottom: none;
    }
    @media(max-width: 992px) {
        height: 700px;
    }
}
.price:nth-child(3) {
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.25);
}
.price .pricing-header {
    padding: 0 30px;
    border-bottom: 1px solid #e1eaf5;
}
.price .pricing-header img {
    margin: 10px 0;
    width: 125px;
}
.price .pricing-header > span {
    display: block;
    font-size: 36px;
    color: #343434;
    @media(max-width: 992px) {
        font-size: 30px;
    }
}
.price .pricing-info {
    padding: 0 30px;
}
.price .pricing-info > span {
    display: block;
    font-size: 16px;
    margin: 20px 0;
}
.price .price-amount {
    .dollar-sign {
        font-size: 30px;
    }
    .dollar-amount {
        font-size: 60px;
        font-weight: bold;
    }
    .subscription-length {
        font-size: 14px;
    }
}